---
layout: none
---
p, ul, li, h3, h4, .company-name, .location{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
	font-weight: 400;
}

p, ul, li {
	color: #888;
  line-height: 1.6;
}

.location {
  font-size: 1.2rem;
}
