---
title: About
heading: About Us
subtitle: Purpose. Culture. Leadership. Customers. Partners. Join us!
---

<section class="diagonal alternate">
	<div class="container">
	   <p class="editable">Where people live impacts growth.</p>
	   <p class="editable">By this, we mean growth in every form - the growth of individuals, the growth of families, the growth of communities, the growth of economies. We mean growth in terms of health, wealth, relationships, enterprise, knowledge and understanding.</p>
	   <p class="editable">We believe the world needs more great places to live.</p>
	   <p class="editable">It’s true everywhere, but especially true in emerging markets. Today, physical and digital infrastructure inhibit growth. As a result, there aren’t enough jobs, affordable housing, health care or education.</p>
	   <p class="editable">Right now, there are thousands of new planned communities being developed to create new opportunities for growth. In Africa alone, there are over a billion square acres of new cities and land reclamation efforts underway to meet the urban living needs of the growing population.</p>
	   <p class="editable">Some are following in the footsteps of communities like Singapore, Dubai and Shenzhen, adopting special economic charters to create new types of businesses and ways of working. Others are brand new neighborhoods and planned communities coming to life through mixed-used development.</p>
	   <p class="editable">People who are drawn to these new places come for a wide variety of reasons - better homes, better jobs, closer communities, better lives.</p>
	   <p class="editable"><strong>DoubleGDP builds new software for planned communities.</strong></p>
			<p class="editable"><a href="{{ site.baseurl }}/company/2019/08/02/why-doublegdp/">Why DoubleGDP? &rarr;</a></p>
			<p class="editable"><a href="{{ site.baseurl }}/company/2019/09/26/why-now/">Why now? &rarr;</a></p>
	</div>

</section>

<section class="diagonal patterned">
	<div class="container">
		<div>
			<h3 class="editable">Culture & Values</h3>
			<p class="editable">The purpose, values, culture, habits and norms of an organization can be thought of as the organization’s operating system (OS). They set the underlying “code” by which collaboration happens, decisions get made, problems get solved and progress occurs.</p>
			<p class="editable">Our software helps make best practices efficiently replicable for the planned communities we work with. So our company should do the exact same thing.</p>
			<p class="editable">Instead of starting from scratch, with regards to culture, values and ways of working, we’re taking a “replicate then innovate” approach to getting our culture right from the start.</p>
			<p class="editable"><a href="{{ site.baseurl }}/company/2019/08/30/an-operating-system-to-create-city-operating-systems/">Read more &rarr;</a></p>
			<p class="editable"><a href="{{ site.baseurl }}/progress/4_handbook">Our values &rarr;</a></p
		</div>
	</div>
</section>

<section class="diagonal alternate">
	<div class="container">
			<h3 class="editable">Our Team</h3>
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Customers & Partners</h3>
			<p class="editable">We have visionary partners with immediate needs for communities already under development.</p>
			<p class="editable">The new city of Nkwashi in Zambia is a founding member of DoubleGDP's customer council.</p>
			<p class="editable">We work with their team and residents to co-design our digital architecture and user experiences.</p>
			<p class="editable"><a href="https://www.youtube.com/watch?v=A5BNY1BtIVY">Listen to Nkwashi's founder discuss tech and building new cities in Africa &rarr;</a></p>

			<p class="editable"><a href="https://www.youtube.com/watch?v=ieWg8huznIY">See our video from Nkwashi's Johannesburg showroom &rarr;</a></p>
			<p class="editable">DoubleGDP supports the Charter Cities Institute in Washington, DC. The Institute is the leading think tank focused on charter cities. We work with them to make sure our software can help planned communities adopt best practices.</p>
			<p class="editable"><a href="https://www.chartercitiesinstitute.org">Learn about the Charter Cities Institute &rarr;</a></p>
		</div>
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/about/nkwashilogonobackground.png" width="250" style="margin-bottom: 40px;"></li>
				<li><img src="{{ site.baseurl }}/images/about/chartercitiesinstitutelogo.png" width="250"></li>
			</ul>
		</div>
	</div>
</section>


<section class="diagonal alternate">
	<div class="container">
			<h3 class="editable">Join Us</h3>
	   <p class="editable">Help to shape a vital new industry alongside engineers, designers and product managers who want to leave their mark on the future.</p>
	   <p class="editable"><strong>We're hiring!</strong></p>
	   <p class="editable"> See our <a href="/jobs">open positions</a>.</p>
	</div>

</section>
