---
title: Approach
heading: Approach
// subtitle: This is a page about our approach
blurb: As with everything at DoubleGDP, we're openly sharing the overview, strategy and roadmap for this business. <p>We believe that the more people who know what we're trying to do, the better.
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_approach/" class="btn"><strong>&#9998;</strong> Show Approach</a></p>
		<ul class="image-grid">
			{% for story in site.approach %}
				<li>
					<a href="{{ site.baseurl }}{{ story.url }}">
						<img src="{% include relative-src.html src=story.image_path %}" alt="{{ story.name }}">
						<div class="details">
							<div class="name">{{ story.name }}</div>
							<div class="position">{{ story.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>
