---
title: Product Features
heading: Product Features
blurb: DoubleGDP for Planned Communities. </p>
---

<section class="diagonal">
  <div class="container">
    <p>DoubleGDP has purpose-built solutions to help your planned community shine. </p>

    <ol>
      <li><b>Market and Sell Property -</b> collaborative CRM tools give your team a 360 view of every sales prospect. </li>
      <li><b>Simplified Gate Access -</b> streamline gate flow to improve resident & visitor experience without sacrificing safety. </li>
      <li><b>Communication Hub –</b> connect with your residents, share news and updates. </li>
      <li><b>Integrated Productivity Tools –</b> simplify back office processes with tasks and comments. </li>
      <li><b>Work Order Management -</b> resolve basic and emergency incidents with speed and transparency. </li>
      <li><b>Payments -</b> convenient digital payment options for resident service fees and more.  </li>
      <li><b>Amenity Booking -</b>  increase resident satisfaction and reduce administrative burden of scheduling. </li>
    </ol>
    <br>
    <br>
    <br>
    <p align="center" class="editable"><a href="mailto:partnerships@doublegdp.com?subject=Demo Request">Request a Demo &rarr;</a></p>
    </div>
</section>
<section class="diagonal alternate">
  <div class="container">
    <h2>Market and Sell Property</h2>
   <iframe src="https://docs.google.com/presentation/d/12kNGbgtOWCdAmw8lTL4GweL-GhDI66dyKpipqB9Drt4/embed?start=false&loop=false&delayms=3000" frameborder="0" width="948" height="567" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</section>
</section>
<section class="diagonal patterned">
  <div class="container">
    <h2>Simplified Gate Access</h2>
   <iframe src="https://docs.google.com/presentation/d/12HbjQuHrQ98X6C9cyIxHjeEI-Phjfdm9nuouEfGYvQg/embed?start=false&loop=false&delayms=3000" frameborder="0" width="948" height="567" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <br>
    <br>
    <br>
    <p align="center" class="editable"><a href="https://drive.google.com/file/d/1vzMnZNNNQyeVplKC4y_PV5Inu16Fx9xE/view?usp=sharing">More Info &rarr;</a></p>
    </div>
</section>
<section class="diagonal">
  <div class="container">
    <h2>Communication Hub</h2>
   <iframe src="https://docs.google.com/presentation/d/1akU8Za2iurqXv3Ls7Iu_0GzXIRciaiyfynHBNNmQmBE/embed?start=false&loop=false&delayms=3000" frameborder="0" width="948" height="567" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</section>
<section class="diagonal alternate">
  <div class="container">
    <h2>Integrated Productivity Tools</h2>
   <iframe src="https://docs.google.com/presentation/d/1tolrVEkkLl286KyRHWdzDTC4b9M3qcxknR3b6j0eqak/embed?start=false&loop=false&delayms=3000" frameborder="0" width="948" height="567" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</section>
<section class="diagonal patterned">
  <div class="container">
    <h2>Work Order Management</h2>
   <iframe src="https://docs.google.com/presentation/d/1UlAq6N8aW7l2Ss9XXy_ynb8h30hPP9Ap9OKBTr10ip4/embed?start=false&loop=false&delayms=3000" frameborder="0" width="948" height="567" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</section>
<section class="diagonal">
  <div class="container">
    <h2>Payments</h2>
   <iframe src="https://docs.google.com/presentation/d/1L_CZufyHKE4hSyW6OMRwEvne46S3BtliUey1XdrzjKI/embed?start=false&loop=false&delayms=3000" frameborder="0" width="948" height="567" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <br>
    <br>
    <br>
    <p align="center" class="editable"><a href="https://drive.google.com/file/d/1bxVLqOVMaP_qJSXzZo-xm526Btk-YLIx/view?usp=sharing">More Info &rarr;</a></p>
    </div>
</section>
<section class="diagonal alternate">
  <div class="container">
    <h2>Amenity Booking</h2>
   <iframe src="https://docs.google.com/presentation/d/1TMnxUFx9-NbPwXAuUitKSZvhh6jq3j1hck29Bq7_9hU/embed?start=false&loop=false&delayms=3000" frameborder="0" width="948" height="567" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</section>
