---
title: Home
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">New software for planned communities.</h2>
		<p class="subtext editable"><i>An end-to-end platform for planned communities to connect with residents, accelerate growth, and deliver responsive public services.</i></p>
		<!-- <p class="subtext editable">This is the <strong>Urban</strong> template from <a href="http://cloudcannon.com/">CloudCannon</a>. Urban is a strong foundation for the web presence of your agency.</p> -->
		<p><a class="button alt" href="https://docs.google.com/presentation/d/1c-Ci9QVSc-H0vwtelS0mL4Ka5v2kbzr-1BfOSfLp4d4/edit?usp=sharing">Overview</a></p>

	</div>
</section>


<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<ul class="image-list">
				<li><img src="{{ site.baseurl }}/images/platform-features.png" width="300"></li>
			</ul>
		</div>
		<div>
			<h3 class="editable">Platform</h3>
			<p class="editable">Our platform makes municipal and community services more efficient, accountable, adaptable and responsive.</p>
			<p class="editable">It makes frequently used services processes more easily <strong>repeatable</strong> - so they’re far more efficient and more equitable.</p>
			<p class="editable">It makes the results of services <strong>measurable</strong> - so they’re accountable to residents’ expectations.</p>
			<p class="editable">It offers easy-to-use communication tools so residents and businesses can provide <strong>feedback</strong> and feel heard.</p>
			<p class="editable"><a href="{{ site.baseurl }}/approach/02-platform-introduction/">View Platform Introduction &rarr;</a></p>

		</div>
	</div>
</section>


<section class="diagonal alternate">
	<div class="container halves">
		<div>
			<h3 class="editable">Our progress</h3>
			<p class="editable">We share our work openly to encourage iteration and transparency.</p>
			<p class="editable"><a href="{{ site.baseurl }}/progress/">View Our Progress &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for update in site.progress limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ update.url }}"><img src="{% include relative-src.html src=update.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
