---
title: Product Pricing
heading: Product Pricing
blurb: DoubleGDP for Planned Communities. </p>
---

<section class="diagonal">
  <div class="container">
    <h2 id="pricing--features">Pricing &amp; Features</h2>
    <p>
      We have three product tiers available to subscribers. Pricing and features
      for each tier are available below (all prices in USD). If you are
      interested in becoming a DoubleGDP subscriber for your planned community
      please <a href="https://www.doublegdp.com/contact/">contact us</a>.
    </p>
    <table>
      <thead>
        <tr>
          <th align="center"><p align="center">Core</p></th>
          <th align="center"><p align="center">Premium</p></th>
          <th align="center"><p align="center">Enterprise</p></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td align="center">
            <strong>$1.40</strong> <br />
            per unit / per month <br />
            <br />
            Minimum: $300 per month <br />
          </td>
          <td align="center">
            <strong>$3.00</strong> <br />
            per unit / per month <br />
            <br />
            Minimum: $750 per month <br />
          </td>
          <td align="center">
            <a href="https://www.doublegdp.com/contact/"
              ><strong>Get in Touch</strong></a
            >
            <br />
            Our sales team will work with you to <br />
            determine the best terms for your unique needs. <br />
          </td>
        </tr>
        <tr>
          <td align="center"><strong>General:</strong></td>
          <td align="center"><strong>General:</strong></td>
          <td align="center"><strong>General:</strong></td>
        </tr>
        <tr>
          <td align="center">Fully mobile app experience</td>
          <td align="center">Fully mobile app experience</td>
          <td align="center">Fully mobile app experience</td>
        </tr>
        <tr>
          <td align="center">Login via Facebook, Google, SMS</td>
          <td align="center">Login via Facebook, Google, SMS</td>
          <td align="center">Login via Facebook, Google, SMS</td>
        </tr>
        <tr>
          <td align="center">Branded app with logo and community colors</td>
          <td align="center">Branded app with logo and community colors</td>
          <td align="center">Branded app with logo and community colors</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Custom URL</td>
          <td align="center">Custom URL</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center">Co-located customer success manager</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center">Any non-standard contract terms</td>
        </tr>
        <tr>
          <td align="center"><br /></td>
          <td align="center"><br /></td>
          <td align="center"><br /></td>
        </tr>
        <tr>
          <td align="center"><strong>Gate Access:</strong></td>
          <td align="center"><strong>Gate Access:</strong></td>
          <td align="center"><strong>Gate Access:</strong></td>
        </tr>
        <tr>
          <td align="center">Universal QR Code ID for all community members</td>
          <td align="center">Universal QR Code ID for all community members</td>
          <td align="center">Universal QR Code ID for all community members</td>
        </tr>
        <tr>
          <td align="center">Guard app</td>
          <td align="center">Guard app &amp; 1 Android smartphone</td>
          <td align="center">Guard app &amp; 1 Android smartphones</td>
        </tr>
        <tr>
          <td align="center">Centralized logs and controls</td>
          <td align="center">Centralized logs and controls</td>
          <td align="center">Centralized logs and controls</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Self-scan mode for increased gate flow</td>
          <td align="center">Self-scan mode for increased gate flow</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Integration with camera systems (Coming Soon)</td>
          <td align="center">Integration with camera systems (Coming Soon)</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center">
            Integration with automated access gates (Coming Soon)
          </td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center">Access to APIs</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center"></td>
          <td align="center">Advisory product development</td>
        </tr>
        <tr>
          <td align="center"><br /></td>
          <td align="center"><br /></td>
          <td align="center"><br /></td>
        </tr>
        <tr>
          <td align="center"><strong>Community Member Hub:</strong></td>
          <td align="center"><strong>Community Member Hub:</strong></td>
          <td align="center"><strong>Community Member Hub:</strong></td>
        </tr>
        <tr>
          <td align="center">Admin posts and articles</td>
          <td align="center">Admin posts and articles</td>
          <td align="center">Admin posts and articles</td>
        </tr>
        <tr>
          <td align="center">Email campaigns</td>
          <td align="center">Email campaigns</td>
          <td align="center">Email campaigns</td>
        </tr>
        <tr>
          <td align="center">HOA document hub (Coming Soon)</td>
          <td align="center">HOA document hub (Coming Soon)</td>
          <td align="center">HOA document hub (Coming Soon)</td>
        </tr>
        <tr>
          <td align="center">Community event calendar (Coming Soon)</td>
          <td align="center">Community event calendar (Coming Soon)</td>
          <td align="center">Community event calendar (Coming Soon).</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">SMS campaigns</td>
          <td align="center">SMS campaigns</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Incident &amp; work order management</td>
          <td align="center">Incident &amp; work order management</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Role-specific community feed (Coming Soon)</td>
          <td align="center">Role-specific community feed (Coming Soon)</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Payment processing (Coming Soon)</td>
          <td align="center">Payment processing (Coming Soon)</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Multi-channel social media posts (Coming Soon)</td>
          <td align="center">Multi-channel social media posts (Coming Soon)</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Community amenity booking (Coming Soon)</td>
          <td align="center">Community amenity booking (Coming Soon)</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Public facing community website (Coming Soon)</td>
          <td align="center">Public facing community website (Coming Soon)</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Payment processing (Coming Soon)</td>
          <td align="center">Payment processing (Coming Soon)</td>
        </tr>
        <tr>
          <td align="center"><br /></td>
          <td align="center"><br /></td>
          <td align="center"><br /></td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center"><strong>Sales &amp; Marketing:</strong></td>
          <td align="center"><strong>Sales &amp; Marketing:</strong></td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Lead management CRM</td>
          <td align="center">Lead management CRM</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Sales pipeline dashboard</td>
          <td align="center">Sales pipeline dashboard</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Construction progress livestream</td>
          <td align="center">Construction progress livestream</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">360 view of community members (Coming Soon)</td>
          <td align="center">360 view of community members (Coming Soon)</td>
        </tr>
        <tr>
          <td align="center"><br /></td>
          <td align="center"><br /></td>
          <td align="center"><br /></td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center"><strong>Administration:</strong></td>
          <td align="center"><strong>Administration:</strong></td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Task and process management</td>
          <td align="center">Task and process management</td>
        </tr>
        <tr>
          <td align="center"></td>
          <td align="center">Automated workflows</td>
          <td align="center">Automated workflows</td>
        </tr>
      </tbody>
    </table>
    <br />
    <p>
      DoubleGDP team members can access our
      <a
        href="https://docs.google.com/spreadsheets/d/152D-u_z9lHu7xn10-oqHaFtrVp8aojMjjPSuOjh6qsw/edit?usp=sharing"
        >internal pricing spreadsheet here.</a
      >
    </p>
  </div>
</section>
