---
layout: page
title: Privacy Policy
heading: DoubleGDP Privacy Policy
subtitle: We'll get back to you as soon as possible
---

<section class="diagonal patterned">
	<div class="container">
      <iframe
        src="https://docs.google.com/document/d/e/2PACX-1vTWhDBjbiKHJOW-ly8ZG7sTsnCwgV926fqGuokPJX6wHpFQalKKi7L0bpFrIdlR1eftKxXCqZYbitg0/pub?embedded=true"
        width=800
        height=500
      </iframe>
	</div>
</section>



here is data on the privacy policy.

## Main body

Here's an overview

### Subhead

And here's a sub-head section
