---
title: Progress
heading: Progress
subtitle: We share our work openly to encourage iteration and transparency. It builds momentum, trust and community engagement. Everyone can contribute.
---

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_progress/" class="btn"><strong>&#9998;</strong> Show Progress</a></p>
		<ul class="image-grid">
			{% for update in site.progress %}
				<li>
					<a href="{{ site.baseurl }}{{ update.url }}">
						<img src="{% include relative-src.html src=update.image_path %}" alt="{{ update.name }}">
						<div class="details">
							<div class="name">{{ update.name }}</div>
							<div class="position">{{ update.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>
