<a target="_blank" href="https://www.linkedin.com/in/{{ include.member.linkedin }}/">
	<div class="square-image"><img src="{% include relative-src.html src=include.member.image_path %}" alt="{{ include.member.name }}"/></div>
	<div class="details">
		<div class="name">{{ include.member.name }}</div>
		<div class="position">
			<span>
				{{ include.member.position }}
			</span>
			<span class="location">
				{{ include.member.location }}
			</span>
		</div>
	</div>
</a>
