<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if jekyll.environment == 'production' %}
    	{% include analytics.html %}
    {% endif %}

		{% seo %}
		{% feed_meta %}

		<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">

		<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/doubleblack.png" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.ico">

		<meta name="twitter:card" content="summary"></meta>
		{% if page.image %}
			<meta name="twitter:card"  content="summary_large_image">
			<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
		{% endif %}

		<meta property="og:image:width" content="637" />
		<meta property="og:image:height" content="403" />
	</head>
	<body>
		<header>
			<div class="container">
				<h1 class="company-name"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/doubleblack.png" alt="Double GDP" width="150"></a></h1>
				{% include navigation.html %}
			</div>
		</header>

		{{ content }}

		<footer class="diagonal">
			<div class="container">
				<p class="editor-link"><a href="cloudcannon:collections/_data/footer.yml" class="btn"><strong>&#9998;</strong> Update Footer Sections</a></p>

				<div class="footer-columns">
					{% for column in site.data.footer %}
						<ul class="footer-links">
							<li>
								<h2>{{ column.title }}</h2>
							</li>
							{% for link in column.links %}
								<li>
									<a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon | slugify }}-icon"{% endif %}>
										{% if link.social_icon %}
											{% include social-icon.html icon=link.social_icon %}
										{% endif %}

										{{ link.name }}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endfor %}

					<ul class="footer-links">
						<li>
							<h2>{{ site.data.company.title }}</h2>
						</li>
						<li>{{ site.data.company.description }}</li>
						<!-- <li><a href="{{ site.baseurl }}/feed.xml">{% include social-icon.html icon="RSS" %} Subscribe with RSS</a></li> -->
					</ul>
				</div>
			</div>

			<div class="legal-line">
				<p class="container">
					&copy; {{ site.time | date: '%Y' }} {{ site.data.company.title }}
				</p>
			</div>
		</footer>


		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
		<script src="https://boards.greenhouse.io/embed/job_board/js?for=doublegdp"></script>

	</body>
</html>
