---
layout: default
---
{% assign portfolio = site.pages | where: "path", page.parent | first %}

<section class="hero diagonal">
	<div class="container">
		{% if portfolio.heading %}
		<h2><a href="../">{{ portfolio.heading }}</a> / {{ page.title | capitalize }}</h2>
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ page.subtitle }}</p>
		{% endif %}
	</div>
</section>

<section class="diagonal">
	<div class="container">
		<p><img src="{% include relative-src.html src=page.image_path %}" class="screenshot"></p>
		<div>
			{{ content }}
		</div>
		{% if page.external_url %}
			<p><a href="{{ page.external_url }}">View {{ page.title }} &rarr;</a></p>
		{% endif %}
	</div>
</section>
